body{
    padding: 0;
    margin: 0;
    background-color: #9be0ee;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-title{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.main-contact-container{
    background-color: aliceblue;
    width: 80%;
    height: 80vh;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
}
.main-image{
    display: block;
    height: 180px;
    margin: 5px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 80%;
}