body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.main{
    overflow-x: hidden;
}

.main-title{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.main-contact-container{
    background-color: rgb(202, 223, 242);
    width: 70%;
  height: auto;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 4vw;
}
.main-image{
    display: block;
    height: 300px;
    width: 550px;
    margin: 5px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
}
.contact-text{
    text-align: start;
    width: 320px;
    height: 35px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}
.contact-para{
    text-align: center;
    margin: 5px;
    font-family: p;
}
.second-container{
    margin-left: 20px;
}
.third-container{
    margin-left: 45px;
}
.information-container{
    display: flex;
    flex-wrap: wrap;
}
.contact-btn{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    margin-left: 120px;
    width: 130px;
    cursor: pointer;
    margin-right: 5px;
}
.contact-btn:hover{
    color:red;
}
.small-symbol{
    width: 50px;
    height: 45px;
    display: inline;
    margin: 10px;
    background: none;
}
.small-symbol:hover{
    cursor: pointer;
    transform: translateY(-8px);
}
.contact-suggest{
    text-align: start;
    width: 320px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}
.heading{
    font-weight: bold;
    padding: 5px;
}
.info-para{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width:600px) {

body{
    overflow-x: hidden;
}

.main-contact-container{
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

.main-image{
    width: 100vw;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.contact-para{
    width: 90vw;
}
    
.form-margin{
    width: 100vw;
    height: auto;
}

.form-margin input{
    display: block;
    margin: 0 auto;
    border: none;
}    

.form-margin .button-1{
    display: block;
    margin: 0 auto;
}

}