@font-face {
    font-family: h;
    src: url(../fonts/Laila\ Regular.ttf);
}

@font-face {
    font-family: p;
    src: url(../fonts/Hind\ Guntur\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-bg: #FA4738;
    --clr: #000;
    --btn-padding: .6vw 2.5vw;
    --para-size: font-size: 1.4vw;


}


a {
    text-decoration: none;
    color: #ffffffda;
    font-family: h;
    font-size: 1.3vw;
    font-weight: 700;
}


.footer{
  
    color: rgb(255, 255, 255);
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 2vw 0;
}

.social-media h3{
    line-height: 1.2;
}

.social-media p{
    font-size: 1.4vw;
    margin: 1vw 0;
}

/* .social-media img{
    width: 30px;
    border: none;
    margin: 0 20px;
} */

.footer .download{
    display: flex;
    background-color: rgb(0, 0, 0);

width: 10vw;
justify-content: center;
gap: 2vw;
border: none;
}

.footer .download img{
    background-color: #000;
}

.download button{
    border: none;
}

.handle{
    margin: 1.4vw 0;

}

.footer .handle i{
    font-size: 30px;
    transition: .5s;
}

.footer .handle i:hover{
    color: #FA4738;
}

.sections{
    width: 20vw;
}

.footer h3{
    font-size: 2vw;
    font-weight: 500;
    font-family: p;
}

.quick-links{
    display: flex;
    flex-direction: column;
  align-items: center;

}

.quick-links a:hover{
    color: #f70000;

}

.footer .stock-images{
    width: 30vw;
    /* background-color: red; */
}

.footer .stock-images button{
    padding: var(--btn-padding);
    margin: 1px;
    cursor: pointer;
    font-family: p;
    font-weight: 900;
    transition: .4s;
}

.footer .stock-images button:hover{
    color: #FA4738;
}

@media (max-width:600px) {
.footer{
   flex-wrap: wrap;
   background-color: #000;
   color: white;
    overflow-x: hidden;
    height: auto;
}

a{
    color: white;
}

.social-media{
    width: 50vw;
    padding: 2vw;
    height: 300px;
    background-color: #000;
}
.footer .social-media p{
    font-size: 4vw;
display: inline-block;
text-align: center;
}

.footer h3{
    font-size: 5.5vw;
    margin-top: 2vw;
    
}

.download {
    width:100vw ;
    margin: 0;
    display: inline-block;
margin: 0 auto;

    background-color: black;
}


.footer .handle{
    display: block;
    margin: 0 auto;
    margin-left: 5vw;
margin-top: 3vw;

}

.footer .social-media img{
border-radius: 0px;
background-color: #000;
border:none;
}



.quick-links{
display: block;
width: 50vw;
}

.quick-links h3, .stock-images h3{
text-align: center;
}

.quick-links a{
    display: block;
    font-size: 4vw;
    text-align: center;
}

.footer .stock-images{
    display: block;
    width: 100vw;
    padding: 5vw;
    margin: 0;
}
}


@media (min-width:601px ) and (max-width:800px) {
 
.footer{
  overflow-x:hidden ;
    height: auto;
    padding: vw;
    flex-wrap: wrap;
    
    }

    .footer h3{
        font-size: 4.5vw;
    }
    
     .footer P{
        font-size: 3vw;
        margin-bottom: 3vw;
     }

    .footer .social-media{
    width: 50vw;
    margin: 0;
    /* background-color: rebeccapurple; */

}

.footer .download{
display: flex;
margin: 0 auto;
}



.footer .download img {
display: inline-block;
background-color: #000;
margin: 0 auto;
    }
    

    .footer .handle{

display: flex;
margin: 5vw auto;
justify-content: space-around;

    }

    

    .quick-links{
    width: 40vw;
}

.quick-links a{
    font-size: 3vw;
}
 
.footer .stock-images {
    padding: 3vw;
    width: 100vw;

}


}



