@font-face {
    font-family: h;
    src: url(../fonts/Laila\ Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
}


.page{
    margin-top: 5vw;
}

.heading{
    text-align: center;
    font-family: h;
    font-weight: 999;
}

.grid-container{
    padding: 1vw 3vw;
}

.gallery {
columns: 4 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    overflow: hidden;
}

.img-container {
    width: 320px;
    overflow: hidden;
    display: inline-block;
    position: relative;
 
}
.img-container #save{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 30px;
    opacity: 0;
    transition: .5s;
}

.img-container:hover #save{
    opacity: 1;
}

.img-container .hert{
    position: absolute;
    top: 15px;
    right: 15px;
width: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: 0;
    transition: .5s;
}
.img-container:hover .hert{
    opacity: 1;
}

.gallery img {
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 800px;
    cursor: pointer;
    margin: 20px;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}