@font-face {
    font-family: h;
    src: url(../fonts/Laila\ Regular.ttf);
 }

 @font-face {
    font-family: p;
    src: url(../fonts/Hind\ Guntur\ Regular.ttf);
 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html,body{
    width:100%;
height: 100%;
}

 .box{
    width:290px;
    height: 430px;
    background-color:pink;
     margin: 4vw auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px;
    padding-top: 1vw;
    padding: 1vw;
 

}

h1{
    text-align: center;
    font-family: h;

}

.text{
    height: 10px;
    font-size: 7px;
    border-radius: 1px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
    font-family: h;
}



form.name{
    font-size: 1.3vw;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    display: block;
    width:100%;
    margin:1vw auto;
font-family: h;
}

form :nth-child(5){
    
    margin-top: 3vw;
}




form button{
    padding:4px 30px;
    display: block;
    font-size: 1.3vw;
    font-family: p;
    font-weight: 700;
    cursor: pointer;
    margin: 0vw auto;
}