.product-card{
    width: 250px;
    border: 1px solid gray;
    display: block;
    margin: 50px auto;
    box-shadow:0 0 10px black;
    border-radius: 10px;
    padding: 0 20px;
}
.product-img{
    height: 200px;
    display: block;
    margin: 10 auto;
    text-align: center;
    padding: 10px;
}
.product-title{
    font-size: 30px;
    text-align: center;
}
.product-prize{
    font-size: 30px;
    font-weight: bold;
}
.btn{
    display: block;
    margin: 25px auto;
    font-size: 20px;
    padding: 5px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
.quantity-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.btn-quantity{
    width: 40px;
    cursor: pointer;
}
.product-quantity{
    font-size: 30px;
}
