@font-face {
    font-family: h;
    src: url(../fonts/Laila\ Regular.ttf);
 }

 @font-face {
    font-family: p;
    src: url(../fonts/Hind\ Guntur\ Regular.ttf);
 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    padding: 150px 300px;
}

.formdesign {
    font-size: 7px;
}

.formdesign input {
    width: 70%;
    padding: 8px 30px;
    border: none;
    margin:1vw auto;
    border-radius: 5px;
    font-size: 1.3vw;
    display: block;
    font-family: h;

}

.formerror {
    color: red;
}

.but {
    padding: 4px 30px;
    display: block;
    margin: 0 auto;
    font-size: 1.2vw;
    font-family: p;
    font-weight: 700;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}


.container {
    background-color: pink;
    padding: 1vW;
    padding-top: 1vW;
    width: 330px;
    margin: 4vw auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px #999;
    height: 430px;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-family: h;
}
.input-box{
    height:50px;
    width:800px;
    font-size: 7px;
    border-radius: 1px;
    margin-left: 15px;
    margin-top: 5px;

}
form :nth-child(5){
    margin-top: 3vw;
}