@font-face {
    font-family: h;
    src: url(../fonts/Laila\ Regular.ttf);
}

@font-face {
    font-family: p;
    src: url(../fonts/Hind\ Guntur\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
padding-top: 7vw;
}

.main{
    overflow: hidden;
    position: relative;
}

.formdesign {
    font-size: 7px;
}

.formdesign input {
    width: 90%;
    padding: 8px 30px;
    border: none;
    margin: 1vw auto;
    border-radius: 5px;
    font-size: 1.3vw;
    display: block;
    font-family: h;

}

.formerror {
    color: red;
}

.but {
    padding: 4px 30px;
    display: block;
    margin: 0 auto;
    font-size: 1.2vw;
    font-family: p;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 0 12px gray;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}


.container {
    background-color: #666666;
    padding: 1vw;
    padding-top: 1vw;
    width: 400px;
margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #999;
    height: 500px;
    margin-bottom: 5vw;
}

.heading {
    margin-bottom: 2vw;
    text-align: center;
    font-size: 30px;
    font-family: h;
}

.input-box {
    height: 50px;
    width: 900px;
    font-size: 7px;
    border-radius: 1px;
    margin-left: 15px;
    margin-top: 5px;

}

form :nth-child(5) {
    margin-top: 3vw;
}

form .des {
    display: block;
margin: 0 auto;
text-align: center;
margin-top: .9vw;
text-decoration: none;
}