.box{
    height: 130px;
    width:140px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px #999;

}
.btn-sub{
    font-size: 9px;
    margin-left: 50px;
    padding: 2px;
     border-radius: 5px;
     background-color: rgb(206, 78, 120);
     cursor: pointer;
     border: none;
     margin-top: 5px;
    }
.text{
    height: 10px;
    font-size: 7px;
    border-radius: 1px;
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
}
.heading{
    text-align: center;
    margin-top: 50px;
}
